<div>

  <h4 class="mb-4 text-muted">Typography </h4>

  <div class="row">
    <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3">
          <h5>Headings</h5>
        </div>
        <div class="card-body">
          <div>
            <h1 class="mb-2">H1. Bootstrap Heading</h1>
            <h2 class="mb-2">H2. Bootstrap Heading</h2>
            <h3 class="mb-2">H3. Bootstrap Heading</h3>
            <h4 class="mb-2">H4. Bootstrap Heading</h4>
            <h5 class="mb-2">H5. Bootstrap Heading</h5>
            <h6 class="mb-2">H6. Bootstrap Heading</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3">
          <h5>Secondary headings</h5>
        </div>
        <div class="card-body">
          <div class="mb-5">
            <h1 class="mb-2">H1. <small class="text-muted">Bootstrap Heading</small></h1>
            <h2 class="mb-2">H2. <small class="text-muted">Bootstrap Heading</small></h2>
            <h3 class="mb-2">H3. <small class="text-muted">Bootstrap Heading</small></h3>
            <h4 class="mb-2">H4. <small class="text-muted">Bootstrap Heading</small></h4>
            <h5 class="mb-2">H5. <small class="text-muted">Bootstrap Heading</small></h5>
            <h6 class="mb-2">H6. <small class="text-muted">Bootstrap Heading</small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3">
          <h5>Text colors</h5>
        </div>
        <div class="card-body">
          <div>
            <p class="text-muted">This is an example of muted text. </p>
            <p class="text-primary">This is an example of primary text. </p>
            <p class="text-success">This is an example of success text. </p>
            <p class="text-info">This is an example of info text. </p>
            <p class="text-warning">This is an example of warning text.</p>
            <p class="text-danger">This is an example of danger text. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3">
          <h5>Paragraph</h5>
        </div>
        <div class="card-body">
          <div>
            <p> <span class="font-weight-bold">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Sit amet justo donec enim diam. <span class="font-italic">Vel eros donec ac
                odio</span>.
              Amet mattis vulputate enim
              nulla aliquet. <span class="text-muted">Nec ultrices dui sapien eget</span>. Ut venenatis tellus in
              metus.
              Dui faucibus in ornare quam
              viverra orci sagittis eu volutpat. Dictum at tempor commodo ullamcorper a lacus vestibulum. Id nibh
              tortor
              id aliquet lectus proin. Morbi tempus iaculis urna id. Lorem donec massa sapien faucibus et molestie ac.
              Magna sit amet purus gravida. Auctor urna nunc id cursus metus aliquam eleifend. Vestibulum lectus mauris
              ultrices eros in cursus turpis. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu
              vitae. Lacinia at quis risus sed vulputate odio ut enim.
            </p>
            <p class="blockquote-footer">Someone famous in <span title="Source Title">Source Title</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>