.card {
  .card-icon {
    i {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      font-size: 1.6rem;
    }
  }

  // @media (min-width: 768px) {
  //   .chart-container {

  //     #sales {
  //       // height: 400px!important;
  //       // width: 100%;
  //     }
  //   }
  // }
}
