$navbar-height: 60px;
$sidebar-width:260px;

$bg-color2 : #2A2C2B;
$bg-color : #e2e2e2;
$navbar-bg-color2 : #191a1d;
$navbar-bg-color : #1c1e21;
$navbar-bg-color1 : #373c44;
$primary-color:#ccc;
$sidebar-bg-color2:#2F343B;
$sidebar-bg-color:#2D3E50;
$sidebar-color:#9b9ea2;



