<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small> © 2019 made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <span class="text-secondary font-weight-bold">Mohamed
          Azouaoui</span></small>
    </div>
    <div class="col-md-12 text-center">
      <a href="https://github.com/azouaoui-med" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://twitter.com/azouaoui_med" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/azouaoui_med/" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mohamed-azouaoui/" target="_blank" class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

  </div>

</div>
