<div>

  <h4 class="mb-4 text-muted">Notifications</h4>

  <div class="row">
    <div class="col-md-12 col-lg-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Basic Alerts</h5>
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            <button type="button" class="btn btn-outline-success m-1 flex-fill rounded-0" (click)="showSuccess()">Success Message</button>
            <button type="button" class="btn btn-outline-info m-1 flex-fill rounded-0" (click)="showInfo()">Info Message</button>
            <button type="button" class="btn btn-outline-warning m-1 flex-fill rounded-0" (click)="showWarning()">Warning Message</button>
            <button type="button" class="btn btn-outline-danger m-1 flex-fill rounded-0" (click)="showError()">Danger Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Notifications Places</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-2">
              <button type="button" class="btn btn-outline-dark w-100 rounded-0" (click)="showToastr('toast-top-left')">Top Left
                Message</button>
            </div>
            <div class="col-md-4 mb-2">
              <button type="button" class="btn btn-outline-dark w-100 rounded-0" (click)="showToastr('toast-top-center')">Top
                Center Message</button>
            </div>
            <div class="col-md-4 mb-2">
              <button type="button" class="btn btn-outline-dark w-100 rounded-0" (click)="showToastr('toast-top-right')">Top
                Right Message</button>
            </div>
            <div class="col-md-4 mb-2">
              <button type="button" class="btn btn-outline-dark w-100 rounded-0" (click)="showToastr('toast-bottom-left')">Bottom
                Left Message</button>
            </div>
            <div class="col-md-4 mb-2">
              <button type="button" class="btn btn-outline-dark w-100 rounded-0" (click)="showToastr('toast-bottom-center')">Bottom
                Center Message</button>
            </div>
            <div class="col-md-4 mb-2">
              <button type="button" class="btn btn-outline-dark w-100 rounded-0" (click)="showToastr('toast-bottom-right')">Bottom
                Right Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Bootstrap Alerts</h5>
        </div>
        <div class="card-body">
          <div class="">
              <div class="rounded-0 alert alert-primary" role="alert">
                  A simple primary alert—check it out!
                </div>
                <div class="rounded-0 alert alert-secondary" role="alert">
                  A simple secondary alert—check it out!
                </div>
                <div class="rounded-0 alert alert-success" role="alert">
                  A simple success alert—check it out!
                </div>
                <div class="rounded-0 alert alert-danger" role="alert">
                  A simple danger alert—check it out!
                </div>
                <div class="rounded-0 alert alert-warning" role="alert">
                  A simple warning alert—check it out!
                </div>
                <div class="rounded-0 alert alert-info" role="alert">
                  A simple info alert—check it out!
                </div>
                <div class="rounded-0 alert alert-light shadow-sm" role="alert">
                  A simple light alert—check it out!
                </div>
                <div class="rounded-0 alert alert-dark" role="alert">
                  A simple dark alert—check it out!
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
