<aside class="sidebar shadow-sm">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">Jhon Doe</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">
      Components
    </div>
    <ul class="menu-items">
      <li class="active">
        <a href="#" routerLink="/">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/forms">
          <i class="fas fa-gem"></i>
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/tables">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/typography">
          <i class="fa fa-align-center"></i>
          <span>Typography</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/maps">
          <i class="fa fa-globe"></i>
          <span>Maps</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/notifications">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li>
    </ul>
    <div class="menu-header mt-4 mb-2">
      Performance
    </div>
    <div class="progress-wrapper pt-2 pb-2">
      <div class="mb-4">
        <div class="progress-status"><span>CPU</span><span class="float-right">50%</span></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar" style="width: 50%; "></div>
        </div>
      </div>
      <div class="mb-4">
        <div class="progress-status"><span>DISK</span><span class="float-right">30%</span></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar" style="width: 30%; "></div>
        </div>
      </div>
      <!-- <div class="mb-4">
        <div class="progress-status"><span>Memory</span><span class="float-right">80%</span></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar" style="width: 80%; "></div>
        </div>
      </div> -->
    </div>
  </nav>
</aside>