<aside class="sidebar shadow-sm">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">Ahmed Amine</p>
      <small class="text-uppercase role">Web Developer</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
      <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <ul>
      <li class="active">
        <a href="#" routerLink="/">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <span class="badge badge-danger rounded-0 ml-auto text-light">New</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/forms">
          <i class="fa fa-diamond"></i>
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/tables">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/typography">
          <i class="fa fa-align-center"></i>
          <span>Typography</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/maps">
          <i class="fa fa-globe"></i>
          <span>Maps</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/notifications">
          <i class="fa fa-bell-o"></i>
          <span>Notifications</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
